body, html {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--white);
}

/* main */

main {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

main .card_balance {
   width: 583px;
   padding: 40px 0px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}

main .card_balance .balance_title {
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 25px;
   text-align: center;
   color: var(--regular-purple);
}

main .card_balance .balance_span {
   font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: var(--white);
   padding: 5px 28px;
   background: var(--regular-purple);
   border-radius: 20px;
   margin-top: 20px;
}

main .card_balance .balance_input {
   width: 300px;
   margin-top: 40px;
   border: none;
   background: none;
   font-weight: 400;
   font-size: 22px;
   text-align: center;
   border-bottom: 1px solid var(--regular-purple);
   color: var(--regular-purple);
   padding-bottom: 10px;
   outline: none;
}

main .card_balance .balance_buttons {
   width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   column-gap: 10px;
}

main .card_balance .balance_buttons .balance_cancel {
   width: 50%;
   padding: 10px;
   border-radius: 20px;
   background: rgb(236, 236, 236);
   color: rgb(61, 61, 61);
   font-weight: 600;
   cursor: pointer;
   transition: .3s;
   font-size: 12px;
}

main .card_balance .balance_buttons .balance_cancel:hover {
   background: rgb(192, 192, 192);
}

main .card_balance .balance_buttons .balance_confirm {
   width: 50%;
   padding: 10px;
   border-radius: 20px;
   background: var(--regular-purple);
   color: var(--white);
   font-weight: 500;
   cursor: pointer;
   transition: .3s;
   font-size: 12px;
}

main .card_balance .balance_buttons .balance_confirm:hover {
   background: var(--light-purple);
}

@media(max-width: 590px) {
   
   main .card_balance {
      padding: 10px;
      box-shadow: none;
   }
   
   main .card_balance .balance_input {
      width: 100%;
   }
   
   main .card_balance .balance_buttons {
      width: 100%;
   }
   
}